*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid black;
  height: calc(500px / 16);
  width: calc(500px / 16);
}
